.formWrap {
  margin: 3rem auto 0;
  .btn_user {
    color: #9c0746;
    background: #fde5ea;
    width: 100%;
    margin-left: 50%;
    transform: translateX(-50%);
    font-size: 2rem;
    border: 1px solid #9c0746;
    border-radius: 2rem;
    padding: 0.6rem;
    margin-top: 3rem;
  }
}
.wrap {
  h2 {
    color: #9c0746 !important;
  }
}
