.btn {
  margin-top: 2.5rem !important;
  display: block;
  width: 100%;
  font-size: 1.8rem !important;
  line-height: 1;
  font-weight: 300 !important;
  text-transform: uppercase;
  color: #9c0746 !important;
  background: white;
  padding: 1rem 10px;
  margin: 0 auto;
  border: 1px solid #9c0746 !important;
  border-radius: 2rem !important;
  outline: none;
  cursor: pointer;
}
